#Environment variable
EMAIL=example@mail.com
SERVER_DOMAIN=example.com
FIREFOX_PASSWORD=eightchr
PUTTY_PASSWORD=eightchr
GUACAMOLE_DB_ID=guacamole
GUACAMOLE_DB_PASSWORD=guacamole
MYSQL_ROOT_PASSWORD=root